<div class="cont_character" id="wp" data-module="IeClass Opening PageTransition" data-lang="na" data-content="character"
  style="opacity: 1;">
  <div class="p-character__bg" data-module="CharacterBg" style="height: 100%; opacity: 1;"></div>
  <div class="p-character__wp" data-roll="character_wp">

    <header class="l-header l-lower lang--na fade-in">
      <div class="c-header__container">
        <div class="c-header__inner">
          <a [routerLink]="['/']" class="c-header__block" data-gtm="header,selogo">
            <span class="c-svg__container c-svg__logo__unchained">
              <img src="/assets/svgs/logo_unchained.svg" /></span></a>
          <div class="c-header__block">
            <div class="c-header__object c-header__object--ps5 hidden"><span
                class="c-svg__container c-svg__logo__ps5--s">
                <img src="/assets/svgs/logo_ps5.svg" /></span>
            </div>
            <div class="c-header__object c-header__object--globe roll-lang u-pc" data-module="LangSelector">
              <div class="c-header__lang__lay" data-roll="togglebtn">
                <div class="c-header__lang__ico">
                  <span class="c-svg__container c-svg__ico__language">
                    <img src="/assets/svgs/ico_language.svg" />
                  </span>
                </div>
                <div class="c-header__lang__txt">English</div>
              </div>
            </div>
            <div class="c-header__lang__selector" data-roll="selector">
              <ul class="c-header__lang__box">
                <li class="c-header__lang__item"><a class="link"
                    href="https://eu.finalfantasyxvi.com/character/">English (Europe)</a></li>
              </ul>
            </div>
            <div class="c-header__object c-header__object--globe roll-lang u-sp" data-module="LangSelectorSp">
              <div class="c-header__lang__lay">
                <div class="c-header__lang__ico" data-roll="togglebtn">
                  <span class="c-svg__container c-svg__ico__language">
                    <img src="/assets/svgs/ico_language.svg" />
                  </span>
                </div>
                <select class="c-header__lang__txt" data-roll="selector" data-job="spSelect">
                  <option value="English (US)">English (US)</option>
                  <option value="https://eu.finalfantasyxvi.com/character/">English (Europe)</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-header__nav">
        <div class="c-header__nav__container">
          <div class="c-header__nav__box">
            <h1 class="c-header__nav__wp u-hover-obj"><a class="c-header__nav__obj lang--na" [routerLink]="['/']"
                data-gtm="header,fflogo"><span class="c-svg__container c-svg__header_logo__xvi">
                  <img src="/assets/svgs/logo_xvi.svg" /></span></a></h1>
          </div>
          <div class="c-header__nav__box lang--na">
            <div class="c-header__nav__wp u-hover-obj"><a class="c-header__nav__obj lang--na" [routerLink]="['/world']"
                data-gtm="header,world"><span class="c-svg__container c-svg__ttl__world--type02">
                  <img src="/assets/svgs/title_world.svg" /></span></a>
            </div>
            <div class="c-header__nav__wp is-active">
              <div class="c-header__nav__obj lang--na"><span class="c-svg__container c-svg__ttl__character--type02">
                  <img src="/assets/svgs/title_characters.svg" /></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="l-main">
      <div class="l-lower__container">
        <div class="l-lower__inner">
          <h2 class="c-ttl__object fade-in-up" style="transform: translate(0px, 0px); opacity: 1;"><span
              class="c-ttl__txt"><span class="c-svg__container c-svg__ttl__character--type02">
                <img src="/assets/svgs/title_characters.svg" /></span></span><span class="c-ttl__frame">
              <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/common/frame/frame_sp.png"><img
                  src="/assets/images/common/frame/frame_pc.png" alt="">
              </picture>
            </span></h2>
        </div>

        <section id="FFXVI_CHARACTER">
          <ul class="p-character__list">
            <li class="p-character__list__item">
              <div class="c-character_description__lay__container lang--na obj--cliveRosfield js-fade"
                data-module="CharacterFrame" data-options="{&quot;delay&quot;:&quot;0.3&quot;}">
                <div class="c-character_description__object__art obj--cliveRosfield fade-in-up" data-module="Fade"
                  style="transform: translate(0px, 0px); opacity: 1;">
                  <picture>
                    <source media="(max-width: 768px)"
                      srcset="/assets/images/common/character/cliveRosfield_art_sp.png"><img
                      src="/assets/images/common/character/cliveRosfield_art_pc.png" alt="">
                  </picture>
                </div>
                <div class="c-character_description__lay__inner fade-in-up" data-module="Fade"
                  style="transform: translate(0px, 0px); opacity: 1;">
                  <div class="c-character_description__object">
                    <div class="c-character_description__object__name__box">
                      <div class="c-character_description__frame__top"><span
                          class="c-svg__container c-svg__accessory__frame_top">
                          <img src="/assets/svgs/accessory_frame_top.svg" /></span>
                      </div>
                      <h3 class="c-character_description__object__name"><span
                          class="c-svg__container c-svg__chara__CliveRosfield">
                          <img src="/assets/svgs/character_clive_rosfield.svg" />
                        </span>
                      </h3>
                    </div>
                    <div class="c-character_description__object__frame__line">
                      <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/common/character/frame_line_sp.png">
                        <img src="/assets/images/common/character/frame_line_pc.png" alt="">
                      </picture>
                    </div>
                    <div class="c-character_description__object__description__box">
                      <p class="c-character_description__object__description lang--na">The firstborn son of the
                        Archduke of Rosaria. Though all expected him to inherit the Phoenix's flames and awaken as its
                        Dominant, destiny instead chose his younger brother Joshua to bear this burden. In search of a
                        role of his own, Clive dedicated himself to mastering the blade. His practice pays off when,
                        at just fifteen years of age, he wins the ducal tournament and is dubbed the First Shield of
                        Rosaria—tasked to guard the Phoenix and blessed with the ability to wield a part of his fire.
                        Alas, Clive's promising career is to end in tragedy at the hands of a mysterious dark Eikon,
                        Ifrit, setting him on a dangerous road to revenge.</p>
                    </div>
                    <div class="c-character_description__object__frame__under"><span
                        class="c-svg__container c-svg__accessory__frame_under">
                        <img src="/assets/svgs/accessory_frame_under.svg" /></span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="p-character__list__item">
              <div class="c-character_description__lay__container lang--na obj--joshuaRosfield js-fade"
                data-module="CharacterFrame" data-options="{&quot;delay&quot;:&quot;0.3&quot;}">
                <div class="c-character_description__object__art obj--joshuaRosfield fade-in-up" data-module="Fade"
                  style="transform: translate(0px, 0px); opacity: 1;">
                  <picture>
                    <source media="(max-width: 768px)"
                      srcset="/assets/images/common/character/joshuaRosfield_art_sp.png"><img
                      src="/assets/images/common/character/joshuaRosfield_art_pc.png" alt="">
                  </picture>
                </div>
                <div class="c-character_description__lay__inner fade-in-up" data-module="Fade"
                  style="transform: translate(0px, 0px); opacity: 1;">
                  <div class="c-character_description__object">
                    <div class="c-character_description__object__name__box">
                      <div class="c-character_description__frame__top"><span
                          class="c-svg__container c-svg__accessory__frame_top">
                          <img src="/assets/svgs/accessory_frame_top.svg" /></span>
                      </div>
                      <h3 class="c-character_description__object__name"><span
                          class="c-svg__container c-svg__chara__JoshuaRosfield">
                          <img src="/assets/svgs/character_joshua_rosfield.svg" /></span>
                      </h3>
                    </div>
                    <div class="c-character_description__object__frame__line">
                      <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/common/character/frame_line_sp.png">
                        <img src="/assets/images/common/character/frame_line_pc.png" alt="">
                      </picture>
                    </div>
                    <div class="c-character_description__object__description__box">
                      <p class="c-character_description__object__description lang--na">The second son of the Archduke
                        of Rosaria and Clive's younger brother by five years. Joshua awoke as the Dominant of the
                        Phoenix soon after his birth. Despite his noble upbringing, Joshua treats all his father's
                        subjects with warmth and affection—none more so than Clive, whom he deeply admires. Joshua
                        often laments that it was he, the frail and bookish younger son, who was granted command of
                        the firebird's flames, and not his stronger, braver brother. While Clive will gladly throw
                        himself into any danger, Joshua quails at the sight of a carrot on his dinner plate. But
                        carrots become the least of his concern when he, too, is swept up into the tragic events that
                        change Clive's life forever.</p>
                    </div>
                    <div class="c-character_description__object__frame__under"><span
                        class="c-svg__container c-svg__accessory__frame_under">
                        <img src="/assets/svgs/accessory_frame_under.svg" /></span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="p-character__list__item">
              <div class="c-character_description__lay__container lang--na obj--jillWarrick js-fade"
                data-module="CharacterFrame" data-options="{&quot;delay&quot;:&quot;0.3&quot;}">
                <div class="c-character_description__object__art obj--jillWarrick fade-in-up" data-module="Fade"
                  style="transform: translate(0px, 0px); opacity: 1;">
                  <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/common/character/jillWarrick_art_sp.png">
                    <img src="/assets/images/common/character/jillWarrick_art_pc.png" alt="">
                  </picture>
                </div>
                <div class="c-character_description__lay__inner fade-in-up" data-module="Fade"
                  style="transform: translate(0px, 0px); opacity: 1;">
                  <div class="c-character_description__object">
                    <div class="c-character_description__object__name__box">
                      <div class="c-character_description__frame__top"><span
                          class="c-svg__container c-svg__accessory__frame_top">
                          <img src="/assets/svgs/accessory_frame_top.svg" /></span>
                      </div>
                      <h3 class="c-character_description__object__name"><span
                          class="c-svg__container c-svg__chara__JillWarrick">
                          <img src="/assets/svgs/character_jill_warrick.svg" /></span>
                      </h3>
                    </div>
                    <div class="c-character_description__object__frame__line">
                      <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/common/character/frame_line_sp.png">
                        <img src="/assets/images/common/character/frame_line_pc.png" alt="">
                      </picture>
                    </div>
                    <div class="c-character_description__object__description__box">
                      <p class="c-character_description__object__description lang--na">Born in the fallen Northern
                        Territories, Jill was taken from her homeland at a tender age to become a ward of Rosaria,
                        securing peace between the two warring nations. The Archduke insisted that she be raised
                        alongside his sons, and now, at twelve years of age, she is as much a part of the Rosfield
                        household as Clive and Joshua. Ever kind, gracious, and unassuming, Jill has become a trusted
                        confidant to the brothers.</p>
                    </div>
                    <div class="c-character_description__object__frame__under"><span
                        class="c-svg__container c-svg__accessory__frame_under">
                        <img src="/assets/svgs/accessory_frame_under.svg" /></span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </main>

    <footer class="l-footer fade-in">
      <nav class="l-navigation">
        <div class="c-navigation__container">
          <div class="c-navigation__inner">
            <div class="c-navigation__object">
              <div class="c-navigation__object__xvilogo"><a class="u-hover-obj" [routerLink]="['/']"
                  data-gtm="footer,fflogo"><span class="c-svg__container c-svg__footer_logo__xvi">
                    <img src="/assets/svgs/logo_xvi.svg" /></span></a></div>
              <div class="c-navigation__object__line"></div>
              <div class="c-navigation__object__pslogo"><span class="c-svg__container c-svg__footer_logo__ps5">
                  <img src="/assets/svgs/logo_ps5.svg" /></span>
              </div>
            </div>
            <div class="c-navigation__object">
              <ul class="c-navigation__link__box">
                <li class="c-navigation__link__item"><a [routerLink]="['/world']" data-gtm="footer,world">
                    <div class="u-hover-obj"><span class="c-svg__container c-svg__ttl__world--type02">
                        <img src="/assets/svgs/title_world.svg" /></span>
                    </div>
                  </a></li>
                <li class="c-navigation__link__item">
                  <div class="is-active"><span class="c-svg__container c-svg__ttl__character--type02">
                      <img src="/assets/svgs/title_characters.svg" /></span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="c-footer__container">
        <div class="c-footer__inner">
          <div class="c-footer__block roll--txt">
            <ul class="c-footer__policy__box">
              <li class="c-footer__policy__item"><a class="lang--na c-footer__policy__links"
                  href="https://square-enix-games.com/en_US/documents/cookies" target="_blank">Cookie Notice</a></li>
              <li class="c-footer__policy__item"><a class="lang--na c-footer__policy__links"
                  href="https://square-enix-games.com/en_US/documents/tnc" target="_blank">Terms of Use</a></li>
              <li class="c-footer__policy__item"><a class="lang--na c-footer__policy__links"
                  href="https://square-enix-games.com/en_US/documents/privacy" target="_blank">Privacy Notice</a></li>
              <li class="c-footer__policy__item"><a class="lang--na c-footer__policy__links"
                  href="https://square-enix-games.com/en_US/documents/materialusagepolicy" target="_blank">Material
                  Usage Policy</a></li>
            </ul>
            <div class="c-footer__text__box">
              <p class="c-footer__copy">© SQUARE ENIX CO., LTD. ALL RIGHTS RESERVED. <br class="u-sp">LOGO
                ILLUSTRATION: © 2020 YOSHITAKA AMANO</p>
              <p class="c-footer__trademark">FINAL FANTASY, SQUARE ENIX and their respective logos are trademarks or
                registered trademarks of Square Enix Holdings Co., Ltd.<br>"PlayStation" and the "PS" Family logo are
                registered trademarks and "PS5" is a trademark of Sony Interactive Entertainment Inc.</p>
            </div>
          </div>
          <div class="c-footer__block roll--img lang--na"><a class="lang--na c-footer__object__rating"
              href="https://esrb.com/" target="_blank"><img src="/assets/images/na/footer/rating01.png" alt=""></a><a
              class="lang--na c-footer__object__rating" href="https://esrb.org/EPCConfirm/907/" target="_blank"><img
                src="/assets/images/na/footer/rating02.png" alt=""></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>