:host {
  font: 110%/1.5 system-ui, sans-serif;
  background: #131417;
  box-sizing: border-box;
  color: white;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 2rem;
}

main {
  max-width: 360px;
}

a {
  color: #56bbf9;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
